.bocadillo-cuadrado {
    position: relative;
    height: 200px;
    width: 300px;
    background: white;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
}
.bocadillo-cuadrado:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(50% - 25px)
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e6eaf0, #f5f7fa);
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #e6eaf0, #f5f7fa);
    opacity: 0.8;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    background-color: #3498db;

}


  .image2 {
    position: absolute;
    top: 1000;
    left: 800px; /* Ajusta la posición horizontal según necesites */
    height: 100px;
  }

  .button2{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    background-color: #34db58;
  }
  
    .A1 {
    margin-top: 10px;
  }

  .button3{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    background-color: #4d34db;
  }

  .button4{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    background-color: #bcdb34;
  }
  
  